NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://amitsgupta18_db_user:WFrQqJ5PtjgqZflb@cluster0.6wiocbt.mongodb.net/airbnb-clone?retryWrites=true&w=majority&appName=Cluster0
JWT_ACCESS_SECRET=2f9a8c7d1b5e4f6a9c3d8e2f7b1a5d9e4c6f8a2b7d1e9c5f3a6b8d2e1f7c4a9
JWT_REFRESH_SECRET=8c4e1f7a9d2b6c3f5a8e1d7b4c9f2a6e8d3b1f5c7a9e2d4b6c8f1a3e7d5b9c2
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLOUDINARY_CLOUD_NAME=de9wrmubf
CLOUDINARY_API_KEY=911271169159122
CLOUDINARY_API_SECRET=1CFoYjbMP_VpbBG9UOh5HZISuyY
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=amit5080gupta@gmail.com
EMAIL_PASS=ovmmchbjfpnhayka
EMAIL_FROM=Airbnb Clone <amit5080gupta@gmail.com>
CLIENT_URL=http://localhost:5173
